* {
  font-family: Verdana;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
 color: white; 
}

a {
  text-decoration: none;
  font-style: italic;
  color: #111;
  font-family: Cambria;
}